html{width: 100%;}
section {padding: 50px 0;}
body {position: relative;top: 0;width: 100%}
img {width: 100%}
.pull-right {float: right}
/* Hero Unit Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#hero-unit{
  background: transparent url('../images/hero-image.jpg') no-repeat center fixed;
  background-size: cover;
  height: 600px;
  color: #fff;
}
#hero-unit .container {
  height: 100%;
  padding-top: 200px;
}
#hero-unit .container div {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#hero-unit .tagline h2{
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  font-family: 'Crimson Text', serif;
  letter-spacing: 1em;
}
/* Nav styling */
nav {
  height: 50px;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  top: 500px;
  z-index: 1;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin-top: 15px;
}
nav ul li a {
  color: #fff;
  text-transform: uppercase;
}
nav ul li a:hover {

}
.stuck {
  position: fixed;
  top: 0;
}


/* About Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#about{
  background-color: #F7F7F7;

}
.about-text {
  border-left: 1px solid #323232;
  margin-left: 15px;
  padding-left: 35px;
  padding-top: 15px;
}

/* Portfolio Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#portfolio{
  background-color: #262626;
}
#portfolio .row {margin-bottom: 20px;}
#portfolio .portfolio-piece {
  display: inline-block;
}
#portfolio .portfolio-piece img{
  width: 100%;
}
/* Services Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#services{
  background-color: #4B7382;
}
#services i{
  color: #E77A07!important;
  font-size: 3em;
  padding: 10px;
}
.service {
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.5);
  padding:15px;
  color: #fff;
}


/* Blog Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#blog{
  background-color: #E5E5E5;

}

/* Contact Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#contact{
  background-color: #262626;

}

/* Footer Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {background-color: #000;}
footer nav {position: static;}
footer nav ul {text-align: left}
footer nav ul li {width: 100px;text-align: left}
footer nav ul li a {}
footer .social ul {padding-top: 7px;}
footer .social img {height: 20px;width: auto;margin-left: 20px;padding: 5px;}
footer .social ul li {display: inline-block;}
footer .social ul li a{}
