#hero-unit{
    background-color: #394E53;
    height: 600px;
}



#about{
    background-color: #F7F7F7;

}


#portfolio{
    background-color: #262626;

}


#services{
    background-color: #3C6070;

}


#blog{
    background-color: #E5E5E5;

}


#contact{
    background-color: #262626;

}